* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Fjalla One', sans-serif;
}

#background {
    width: 1000px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#icons {
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 0 auto 30px auto;
    position: absolute;
    left: 20px;
    top: 20px;
    text-align: left;
    background-color: rgba(25, 25, 25, 0.7);
    padding-right: 30px;
}

.fa {
    margin: 30px;
    color: gold;
    cursor: pointer;
}

.fa-angle-double-left {
    cursor: default;
}

.newHero {
    position: absolute;
    right: 25px;
    top: 100px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.fa-child {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 40px;
    color: red;
    cursor: pointer;
}

#chara {
    height: 400px;
    position: absolute;
    right: 0;
    top: 190px;
}

#fakebody {
    position: relative;
    width: 1000px;
    height: 590px;
    margin: auto;
}

#name {
    position: absolute;
    width: 200px;
    height: 40px;
    top: -20px;
    left: -10px;
    background-image: url(https://github.com/vsogawa/fireemblemtest/blob/master/img/NameBox.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
}

#name > span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
    text-align: center;
    color: #fdffc1;
    text-transform: capitalize;
}

#banner {
    z-index: 1;
    height: 130px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 95%;
    max-width: 900px;
    position: absolute;
    top: 450px;
    right: 0;
    margin: auto;
    background-image: url(https://github.com/vsogawa/fireemblemtest/blob/master/img/TextBox.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
}

#text {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
    color: rgb(85, 29, 0);
}